body {
  width: 100%;
  height: 100%;
  margin: 0;
}
div#nav-links > a {
  padding-left:10px;
  padding-right:10px;
  background-color:lightgray;
}

div {
  text-align:center;
}

figcaption {
  text-align: center;
  font-size:smaller;
}

.float-div{
  width:25%;
  float:left;
  background-color:orangered;
}

h1 {
  text-align:center;
}

p#featured-property {
  padding-top:5px;
  padding-bottom:5px;
}
section#featured-property {
  text-align:center;
}
section#featured-property > div {
  width:800px;
  text-align:center;
  margin:auto;
}